@charset "utf-8";
/*@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}*/

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, img, button { margin: 0; padding: 0;border:0 none;}
html { background-color: #FFF; }
body { background-color: #FFF; font-size: 12px; line-height: 1.5; font-family: 'Open Sans', sans-serif; color: #333; }
table { border-collapse: collapse; }
a { color: #06C; text-decoration: none; outline: none; }
a: hover { text-decoration: underline; }
h1, h2, h3, h4, h5 { font-size: 100%;  }
ul li, ol li { list-style: none; }
img {border: 0 none;}
dfn { margin-right: 2px; font-style: normal; font-size: 12px; font-family: Arial !important; }
.invisible { visibility: hidden !important; }
.hidden { display: none !important; }
.clearfix {*zoom:1;}
.clearfix:after {display:block; height:0; content:'.'; clear:both; overflow:hidden;}



/* Structure Begin */
#base_hd {width:980px; margin:20px auto; margin-bottom:6px;}
#base_bd {width:980px; margin:0px auto; padding-top:10px; background-color:#F7F7F7;}
#base_ft {width:100%; height:128px; margin-bottom:50px; position:relative;}
/* Structure End */

/* Common Begin */
.icon_tel,.icon_fax {display:inline-block; width:16px; height:16px; background:url(img/icon_tel.jpg) no-repeat;}
.icon_fax {background-image:url(img/icon_fax.jpg);}
.icon_ad_mid_left,.icon_ad_mid_right {background:url(img/icon_arrow_scroll.png) no-repeat;}
/* Common End */

/*=S base_header*/
.hd_com_info {height:65px; margin-bottom:22px; *zoom:1;}
.hd_com_info:after {display:block; height:0; content:'.'; clear:both; overflow:hidden;}
.hd_logo {width:237px; height:65px; float:left; margin-left:12px; font-size:0; background:url(img/logo.png);}
.hd_tel {height:65px; float:right; font:16px 'Open Sans', sans-serif;line-height:112px; color:#717070;}
.nav_list {height:45px; *zoom:1;}
.nav_list:after {display:block; height:0; content:'.'; clear:both; overflow:hidden;}
.nav_list li {height:45px; float:left; border-left:1px solid #fff; }
.nav_list li:hover,.nav_list li.current {background: none repeat scroll 0% 0% rgb(204, 10, 10);}
.nav_list li:hover a,.nav_list li.current a {color:#fff;}
.nav_list li.nav1 {width:115px;}
.nav_list li.nav2 {width:137px;}
.nav_list li.nav3 {width:208px;}
.nav_list li.nav4 {width:170px;}
.nav_list li.nav5 {width:191px;}
.nav_list li.nav6 {width:149px;}
.nav_list a {display:block; height:45px; font: bold 14px 'Open Sans', sans-serif; color: rgb(28, 36, 41); line-height:45px; text-align:center; background: url(img/bg_nav.png) repeat-x scroll center center transparent;}
/*=E base_header*/

/*=S ad top*/
.ad_top {width:975px;margin-left:3px;margin-bottom:10px;border: 0px solid rgb(74, 74, 74);box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px 0px;position:relative;}
.opacity_white {width:100%;height:18px;padding:10px 0;opacity:0;position:absolute;left:0;bottom:-1px;text-align:right;background-color:rgba(247,247,247,0.8);transition:opacity 0.5s ease 0s;-webkit-transition-property:opacity;-webkit-transition-duration:0.5s;-webkit-transition-timing-function:ease;-webkit-transition-delay:0s;}
.opacity_white:hover {opacity:1;}
.opacity_white p {float:right;padding-right:20px;}
.ad_top_list {height:430px;position:relative;}
.ad_top_list li {position:absolute;display:none;}
.ad_top_list li.current {display:block;}
/*=E ad top*/

/*=S ad middle*/
.ad_mid {width:980px;height:160px;margin-bottom:20px;position:relative;}
.ad_mid_main {width:975px;margin-left:3px;overflow:hidden;position:relative;}
.for_scroll {width:9999px;overflow:hidden;*zoom:1;}
.ad_mid_list {float:left;width:3510px;height:160px;overflow:hidden;*zoom:1;white-space:nowrap;}
.ad_mid_list li {float:left;width:234px;height:162px;}
.ad_mid_list li img {width:214px;height:162px;padding-right:20px;}
.icon_ad_mid_left,.icon_ad_mid_right {position:absolute;width:45px;cursor:pointer;top:20%;bottom:20%;opacity:0.5;}
.icon_ad_mid_left:hover,.icon_ad_mid_right:hover {opacity:1;}
.icon_ad_mid_left {left:-38px;background-position:0 50%;}
.icon_ad_mid_right {right:-38px;background-position:100% 50%;}
/*=E ad middle*/

/*=S main_info*/
.main_info {margin-bottom:20px;zoom:1;}
.main_info:after {display:block;height:0;content:'.';overflow:hidden;clear:both;}
.main_info dl {float:left;}
.main_info .dl_news {width:315px;margin-right:20px;}
.main_info .dl_events {width:365px;margin-right:30px;}
.main_info .dl_clients {width:250px;}
.main_info dt {padding-left:15px;height:60px;line-height:60px;border-radius:5px;background: url(img/indented_bg.png) 0px 0px repeat-x rgb(204, 10, 10);cursor:pointer;transition:background-color 1s ease 0s;box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;margin-bottom:20px;}
.main_info dt:hover {background-color:rgb(136,6,6);}
.main_info dt h2 {height:50px;font:normal normal bold 27px 'Open Sans', sans-serif;color:#fff;padding-top:10px;}
.main_info dd {margin-left:5px}
.ad_bottom {position:relative;}
.ad_bottom_list {overflow:hidden;zoom:1;cursor:pointer;}
.ad_bottom_list li {display:none;}
.ad_bottom_list li.current {display:block;}
.switch_on,.switch_off {display:block;border: 5px solid;padding: 0px 10px 10px 0px;}
/*=E main_info*/

/*=S base footer*/
.ft_main {height:102px; margin:0 auto; padding-top:26px; overflow:hidden; *zoom:1;background-color: rgb(204, 10, 10);
transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
-webkit-transition-property: border-color, background-color;
-webkit-transition-duration: 0.4s, 0.4s;
-webkit-transition-timing-function: ease, ease;
-webkit-transition-delay: 0s, 0s;
border: 0px solid rgb(204, 10, 10);cursor:pointer;}
.ft_main:hover {background-color: rgb(136, 6, 6);
border-color: rgb(136, 6, 6);
transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
-webkit-transition-property: border-color, background-color;
-webkit-transition-duration: 0.4s, 0.4s;
-webkit-transition-timing-function: ease, ease;
-webkit-transition-delay: 0s, 0s;}
.ft_address {width:980px; margin:0 auto; overflow:hidden; *zoom:1;}
.ft_main p {display:inline-block; width:25%; float:left; }
.ft_main span {display:block; color:#fff; font:13px 'Open Sans', sans-serif;}
.ft_shadow_l,.ft_shadow_r {width:165px; height:26px; position:absolute; bottom:-26px; left:0px; background:url(img/liftedshadow_medium.png) -20px 0 no-repeat;}
.ft_shadow_r {left:auto; right:0px; background-position:-145px 0;}
h3.ft_copyright {width:980px; margin: 10px auto; color:rgb(56, 72, 83); font:12px 'Open Sans', sans-serif;}
.ft_bottom {width:980px; height:80px; margin:0 auto;}
.share_list {float:right; clear:right; overflow:hidden; *zoom:1;}
.share_list li {float:left; margin-left:3px; background-repeat:no-repeat;}
.share_list a {display:block; width:19px; height:19px;}
.share_facebook {background-image:url(img/icon_share_facebook.png);}
.share_twitter {background-image:url(img/icon_share_twitter.png);}
.share_google {background-image:url(img/icon_share_google.png);}
.share_linkedin {background-image:url(img/icon_share_linkedin.png);}
/*=E base footer*/
